
body {
 margin:0px;
 padding:0px;
 font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif
}

#sidebar{
	background:#151718;
	width:20%;
	height:100%;
	display:block;
	position:absolute;
	left:-200px;
	top:0px;
	transition:left 0.3s linear;
}

#sidebar.visible{
	left:0px;
	transition:left 0.3s linear;
}

ul {
	margin:0px;
	padding:0px;
}

ul li{
	list-style:none;
}

ul li a{
	color:white;
	background:#1c1e1f;
	color:#cc;
	border-bottom:1px solid #111;
	display:block;
	width:180px;
	padding:10px;
	style:none;
	text-decoration:none;
}

#sidebar-btn{
	display:inline-block;
	vertical-align:middle;
	width:10%;
	height:15px;
	cursor:pointer;
	margin:20px;
	position:absolute;
	top:0px;
	right:-60px;
}

#sidebar-btn span{
	height:2px;
	background:#111;
	margin-bottom:5px;
	display:block;
}

#sidebar-btn span:nth-child(2){
	width:75%;
}

#sidebar-btn span:nth-child(3){
	width:50%;
}
